.wrapper {
    height: 98vh;

}

.image{
  width: 300px;
}

.pad {
  padding-top: 150px;
  padding-bottom: 150px;

}
.line{
  width: 200px;
  height: 5px;
  background-color: #2C3E50;
  display: flex; 
  justify-content: center;
  align-items: center;

}
.line .icon{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:50px;
background-color:#1ABC9C;

}